<div id="login">
  <img alt="Vue logo" class="mt-5" src="favicon.ico">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-uppercase px-2 text-white-50">Registrati</h1>
      <h6 class="lead text-white-50">Inserisci i tuoi dati personali per registrarti</h6>
      <hr>
      <form class="my-form" #regForm="ngForm" (ngSubmit)="register($event)" [formGroup]="form">
        <div class="form-container">
          <div class="input-field mx-auto">
            <input type="text" id="nome"
              [class.valid-untouched]="form.controls.nome.untouched && form.controls.nome.valid"
              [class.invalid-input]="(regForm.submitted && !form.controls.nome.valid) || (form.controls.nome.touched && form.controls.nome.invalid)"
              [class.valid-touched]="form.controls.username.touched && form.controls.username.valid"
              formControlName="nome" required>            <label
              [class.text-danger]="(regForm.submitted && !form.controls.nome.valid) || (form.controls.nome.touched && form.controls.nome.invalid)"
              for="nome" id="nomeLabel">Nome: </label>
            <span class="invalid-feedback text-danger"
              [style]="(regForm.submitted && !form.controls.nome.valid) || (form.controls.nome.touched && form.controls.nome.invalid) ? {'display':'block'} : {'display' : 'none'}">
              {{ nomeErrorMessage }}
            </span>
          </div>
          <div class="input-field mx-auto">
            <input type="text" id="cognome"
               [class.valid-untouched]="form.controls.cognome.untouched && form.controls.cognome.valid"
               [class.invalid-input]="(regForm.submitted && !form.controls.cognome.valid) || (form.controls.cognome.touched && form.controls.cognome.invalid)"
               [class.valid-touched]="form.controls.cognome.touched && form.controls.cognome.valid"
               formControlName="cognome" required>
            <label
              [class.text-danger]="(regForm.submitted && !form.controls.cognome.valid) || (form.controls.cognome.touched && form.controls.cognome.invalid)"
              for="cognome" id="cognomeLabel">Cognome: </label>
            <span class="invalid-feedback text-danger"
                [style]="(regForm.submitted && !form.controls.cognome.valid) || (form.controls.cognome.touched && form.controls.cognome.invalid) ? {'display':'block'} : {'display' : 'none'}">
                {{ cognomeErrorMessage }}
            </span>
          </div>
          <div class="input-field mx-auto">
            <input type="text" id="username"
             [class.valid-untouched]="form.controls.username.untouched && form.controls.username.valid"
             [class.invalid-input]="(regForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && form.controls.username.invalid)"
             [class.valid-touched]="form.controls.username.touched && form.controls.username.valid"
             formControlName="username" required>
            <label
              [class.text-danger]="(regForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && form.controls.username.invalid)"
              for="username" id="usernameLabel">Username: </label>
            <span class="invalid-feedback text-danger"
                [style]="(regForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && !form.controls.username.valid) ? {'display':'block'} : {'display' : 'none'}">
                {{ usernameErrorMessage }}
            </span>
          </div>
          <div class="input-field mx-auto">
            <input type="password" id="password"
               [class.valid-untouched]="form.controls.password.untouched && form.controls.password.valid"
               [class.invalid-input]="(regForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid)"
               [class.valid-touched]="form.controls.password.touched && form.controls.password.valid"
               formControlName="password" required>
            <label for="password"
              [class.text-danger]="(regForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid)" id="passwordLabel">Password:</label>
            <span class="invalid-feedback mt-3 text-danger" [style]="(regForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid) ? {'display':'block'} : {} ">
              {{ passwordErrorMessage }}
            </span>
          </div>
          <div class="input-field mb-5 mx-auto">
            <input type="password" id="passwordConfirm"
               [class.valid-untouched]="form.controls.passwordConfirmation.untouched && form.controls.passwordConfirmation.valid"
               [class.invalid-input]="(regForm.submitted && !form.controls.passwordConfirmation.valid) || (form.controls.passwordConfirmation.touched && form.controls.passwordConfirmation.invalid)"
               [class.valid-touched]="form.controls.passwordConfirmation.touched && form.controls.passwordConfirmation.valid"
               formControlName="passwordConfirmation" required>
            <label for="passwordConfirm"
               [class.text-danger]="(regForm.submitted && !form.controls.passwordConfirmation.valid) || (form.controls.passwordConfirmation.touched && form.controls.passwordConfirmation.invalid)"
               id="passwordConfirmLabel">Conferma password: </label>
            <span class="invalid-feedback text-danger" [style]="(regForm.submitted && !form.controls.passwordConfirmation.valid) || (form.controls.password.touched && form.controls.passwordConfirmation.invalid) ? {'display':'block'} : {} ">
              {{ passwordConfirmationErrorMessage }}
            </span>
          </div>
          <button class="glow-on-hover mb-4" id="register" type="submit">Registrati</button>
          <p class="text-start text-white-50">Sei già registrato? <a routerLink="/login" class="text-start text-white go-to">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
