<div id="login">
  <img alt="Angular logo" class="mt-5" src="favicon.ico">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-uppercase text-white-50">Login</h1>
      <hr>
      <form [formGroup]="form" #myForm="ngForm" (ngSubmit)="onSubmit()" class="my-form">
        <div class="form-container">
          <div class="input-field mb-5" style="margin: 0 auto">
              <input type="text"
                     (mouseleave)="validateRequired()"
                     [class.valid-untouched]="form.controls.username.untouched && form.controls.username.valid"
                     [class.invalid-input]="(myForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && form.controls.username.invalid)"
                     [class.valid-touched]="form.controls.username.touched && form.controls.username.valid"
                     id="username" formControlName="username">
              <label [class.text-danger]="(myForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && form.controls.username.invalid)" for="username" id="usernameLabel">Username:</label>
              <small class="invalid-feedback pt-3 text-danger" [style]="(myForm.submitted && !form.controls.username.valid) || (form.controls.username.touched && form.controls.username.invalid) ? {'display':'block'} : {'display' : 'none'}">{{ usernameErrorMessage }}</small>
          </div>
          <div class="input-field" style="margin: 30px auto">
            <input type="password" id="password"
                   (mouseleave)="validateRequired()"
                   [class.valid-untouched]="form.controls.password.untouched && form.controls.password.valid"
                   [class.invalid-input]="(myForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid)"
                   [class.valid-touched]="form.controls.password.touched && form.controls.password.valid" formControlName="password">
            <label for="password" [class.text-danger]="(myForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid)" id="passwordLabel">Password:</label>
            <span class="invalid-feedback mt-3 text-danger" [style]="(myForm.submitted && !form.controls.password.valid) || (form.controls.password.touched && form.controls.password.invalid) ? {'display':'block'} : {} ">{{ passwordErrorMessage }}</span>
          </div>
          <button class="glow-on-hover mb-3" type="submit">Login</button>
        </div>
      </form>
      <p class="text-start text-white-50 mt-3">Non sei ancora registrato? <a routerLink="/register" class="text-start text-white go-to">Registrati</a></p>
    </div>
  </div>
</div>
